.machine {
  text-align: center;
}

.machine > svg {
  display: block;
  margin: auto;
}

.node {
  cursor: move;
}

.current-state {
  stroke: red;
  stroke-width: 3px;
}

text {
  text-anchor: middle;
  pointer-events: none;
}

.nodelabel {
  font-size: 10px;
  stroke: black;
  stroke-width: 0.1;
}

.edgelabel {
  font-size: 10px;
  fill: #aaa;
  letter-spacing: 0.2em;
}

.edgepath {
  stroke: #ccc;
  fill: none;
  pointer-events: none;
}

.edgepath.active-edge {
  stroke: red;
}

#arrowhead, #reversed-arrowhead {
  stroke: #ccc;
  fill: #ccc;
}

#active-arrowhead, #reversed-active-arrowhead {
  stroke: red;
  fill: red;
}
